:root {
  /* COLORS */
  --m3-sys-light-primary-container: #d2e4ff;
  --m3-sys-light-on-primary-container: #001c37;
  --m3-sys-light-primary: #0861a4;

  --m3-surface-container-highest: #e2e2e6;
  --m3-on-surface: #1a1c1e;
  --m3-on-surface-variant: #43474e;

  /* ELEVATION */
  --m3-elevation-3: 0px 4px 8px 3px rgba(0, 0, 0, 0.15),
    0px 1px 3px 0px rgba(0, 0, 0, 0.3);
  --m3-elevation-4: 0px 6px 10px 4px rgba(0, 0, 0, 0.15),
    0px 2px 3px 0px rgba(0, 0, 0, 0.3);

  /* OPACITY */
  --m3-state-layers-light-on-primary-container-opacity-008: rgba(
    33,
    0,
    93,
    0.08
  );
  --m3-state-layers-light-on-primary-container-opacity-012: rgba(
    33,
    0,
    93,
    0.12
  );
}

body {
  margin: 0px;
}

h1 {
  text-align: center;
}

.bookshelf {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  padding: 64px 16px;
}

.book {
  border: 1px solid black;
  padding: 24px;
}

.add-book-form {
  padding: 48px;
  display: grid;
  justify-items: center;
  align-items: center;
  background-color: #f9f9f9;
  border: none;
  border-radius: 24px;

  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  /* z-index: 1000; */
}

.hidden {
  display: none;
}

form > button {
  margin: 16px 0px;
  padding: 8px 32px;
  border-radius: 100px;
  border: 1px;
  background-color: #0861a4;
  color: white;
}

.form-field {
  border-radius: 4px 4px 0 0;
  padding: 4px 16px;
  color: var(--m3-on-surface);
  border-bottom: 1px solid var(--m3-on-surface-variant);
  background-color: var(--m3-surface-container-highest);
  margin: 24px 0px;
}

.form-field-elements {
  display: flex;
  flex-direction: column;
}

label {
  font-size: 12px;
  line-height: 16px;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  color: var(--m3-on-surface-variant);
}

input {
  background-color: var(--m3-surface-container-highest);
  border: 0px;
  color: var(--m3-on-surface);
  font-size: 16px;
  line-height: 24px;
}

.cta {
  /* position: fixed; */
  bottom: 0;
  right: 0;
  margin: 24px;
  display: flex;
  position: fixed;
  flex-direction: column;
  height: auto;
  align-items: flex-end;
  gap: 16px;
}

.cta > * {
  flex-grow: 0;
}

.fab {
  border-radius: 12px;
  border: 1px;
  background: var(--m3-sys-light-primary-container, #d2e4ff);
  color: var(--m3-sys-light-on-primary-container);
  flex-grow: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px;

  box-shadow: var(--m3-elevation-3);
  transition: box-shadow 0.2s ease;
}

.fab:hover {
  box-shadow: var(--m3-elevation-4);
}

.fab:active {
  box-shadow: var(--m3-elevation-3);
}

.fab p {
  margin: 0;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}

.fab div.btn-state-layer {
  display: flex;
  gap: 12px;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 16px 20px 16px 16px;
  border-radius: 12px;
  transition: background 0.2s ease;
}

.fab div.btn-state-layer:hover {
  background: var(--m3-state-layers-light-on-primary-container-opacity-008);
}

.fab div.btn-state-layer:active {
  background: var(--m3-state-layers-light-on-primary-container-opacity-012);
}
