:root {
  /* PRIMARY COLOR */
  --m3-sys-light-primary-container: #d2e4ff;
  --m3-sys-light-on-primary-container: #001c37;
  --m3-sys-light-primary: #0861a4;

  /* SURFACE */
  --m3-surface: #faf9fc;
  --m3-surface-container-lowest: #ffffff;
  --m3-surface-container-low: #f4f3f7;
  --m3-surface-container: #eeedf1;
  --m3-surface-container-high: #e8e8eb;
  --m3-surface-container-highest: #e2e2e6;

  --m3-on-surface: #1a1c1e;
  --m3-on-surface-variant: #43474e;

  /* ELEVATION */
  --m3-elevation-3: 0px 4px 8px 3px rgba(0, 0, 0, 0.15),
    0px 1px 3px 0px rgba(0, 0, 0, 0.3);
  --m3-elevation-4: 0px 6px 10px 4px rgba(0, 0, 0, 0.15),
    0px 2px 3px 0px rgba(0, 0, 0, 0.3);

  /* OPACITY */
  --m3-state-layers-light-on-primary-container-opacity-008: rgba(
    33,
    0,
    93,
    0.08
  );
  --m3-state-layers-light-on-primary-container-opacity-012: rgba(
    33,
    0,
    93,
    0.12
  );

  /* ERROR */
  --m3-error: #ba1a1a;
  --m3-on-error: #ffffff;

  --m3-error-container: #ffdad6;
  --m3-on-error-container: #410002;
}

body {
  margin: 0px;
  font-family: Helvetica, Arial, sans-serif;
  background-color: var(--m3-surface);
  color: var(--m3-on-surface);
}

h1 {
  text-align: center;
  font-size: 5.6rem;
}

.bookshelf {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
  padding: 64px 16px;
}

.book {
  padding: 32px;
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  background-color: var(--m3-surface-container);
}

.read::before {
  content: "status: ";
  font-weight: bold;
}

.pages::before {
  content: "pages: ";
  font-weight: bold;
}

.title {
  font-size: 2.4rem;
  margin: 8px 0px;
  text-align: center;
}

.author {
  font-size: 1.3rem;
  margin: 4px 0px 16px 0px;
}

.pages,
.read {
  margin: 4px 0px;
  font-size: 1rem;
}

.add-book-form {
  padding: 48px;
  display: grid;
  justify-items: center;
  align-items: center;
  background-color: var(--m3-surface-container-low);
  border: none;
  border-radius: 24px;
  display: none;

  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  /* z-index: 1000; */
}

.hidden {
  display: block;
}

form > button {
  margin: 16px 0px;
  padding: 8px 32px;
  border-radius: 100px;
  border: 1px;
  background-color: #0861a4;
  color: white;
}

.form-field {
  border-radius: 4px 4px 0 0;
  padding: 4px 16px;
  color: var(--m3-on-surface);
  border-bottom: 1px solid var(--m3-on-surface-variant);
  background-color: var(--m3-surface-container-highest);
  margin: 24px 0px;
}

.form-field-elements {
  display: flex;
  flex-direction: column;
}

label {
  font-size: 12px;
  line-height: 16px;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  color: var(--m3-on-surface-variant);
}

input {
  background-color: var(--m3-surface-container-highest);
  border: 0px;
  color: var(--m3-on-surface);
  font-size: 16px;
  line-height: 24px;
}

.cta {
  /* position: fixed; */
  bottom: 0;
  right: 0;
  margin: 24px;
  display: flex;
  position: fixed;
  flex-direction: column;
  height: auto;
  align-items: flex-end;
  gap: 16px;
}

.cta > * {
  flex-grow: 0;
}

.fab {
  border-radius: 12px;
  border: 1px;
  background: var(--m3-sys-light-primary-container, #d2e4ff);
  color: var(--m3-sys-light-on-primary-container);
  flex-grow: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px;

  box-shadow: var(--m3-elevation-3);
  transition: box-shadow 0.2s ease;
}

.fab:hover {
  box-shadow: var(--m3-elevation-4);
}

.fab:active {
  box-shadow: var(--m3-elevation-3);
}

.fab p {
  margin: 0;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}

.fab .btn-state-layer {
  display: flex;
  gap: 12px;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 16px 20px 16px 16px;
  border-radius: 12px;
  transition: background 0.2s ease;
}

.fab .btn-state-layer:hover {
  background: var(--m3-state-layers-light-on-primary-container-opacity-008);
}

.fab .btn-state-layer:active {
  background: var(--m3-state-layers-light-on-primary-container-opacity-012);
}

.remove-book {
  font-size: 1rem;
  background-color: var(--m3-error);

  border-radius: 100px;
  border: 1px;
  color: var(--m3-sys-light-on-primary-container);
  flex-grow: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px;

  box-shadow: var(--m3-elevation-3);
  transition: box-shadow 0.2s ease;
  margin: 8px 0px;
}

.remove-book:hover {
  box-shadow: var(--m3-elevation-4);
}

.remove-book:active {
  box-shadow: var(--m3-elevation-3);
}

.btn-state-layer {
  display: flex;
  gap: 12px;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 10px 24px 10px 24px;
  border-radius: 100px;
  transition: background 0.2s ease;
  border: 0px;
}

.errorButtonText {
  margin: 0;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  color: var(--m3-on-error);
}

.readButton {
  font-size: 1rem;

  border-radius: 100px;
  border: 1px solid black;
  color: var(on --m3-on-surface);
  flex-grow: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px;

  transition: box-shadow 0.2s ease;
  margin: 16px 0px 8px 0px;
}

.readButtonText {
  margin: 0;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  color: var(--m3-on-surface);
}
